@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.app {
  width: 600px;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.05;
  text-align: left;
}

h2 {
  font-size: 3.5rem;
  line-height: 1.05;
  text-align: center;
}

h3 {
  margin: 10px;
}

p {
  font-size: 1.125rem;
  line-height: 1.2;
}

.title-block {
  width: 600px;
  height: 210px;
  background-color: #6645dd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.questions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.question-block {
  border: none;
  outline: none;
  width: 286px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0 0 0 1px;
  text-align: center;
  margin-bottom: 6px;
  overflow: hidden;
  padding: 0;
}

.question-block p {
  font-size: 0.8rem;
  font-style: italic;
}

.question-block a {
  text-decoration: none;
  color: #4a4a4a;
}

.answer-block {
  width: 600px;
  background-color: #ff3d9e;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.answer-block img {
  width: 90%;
}
